@import "reset.css";
body{
  background-color: #9EF7ED;
  font-family:-apple-system, BlinkMacsystemFont, "Segoe UI", Roboto, Ubunto, Cantarell, "Open Sans", "Helvetica Neue", Sans=serif;
  display: Flex;
  Flex-direction: Column;
  padding-top: 50px;
  align-items: center;
  padding: 50px;
}


.canvas{
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px;
}

.controls{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls__range{
    margin-bottom: 30px;
}

.controls__btns{
    margin-bottom: 30px;
}

.controls__btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
    border: 2px solid;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11;
}

.controls__btns button:active{
    transform: scale(0.90);
}

.controls .controls__colors {
    display: flex;
}

.controls__colors .controls__color {
width:50px;
height:50px;
border-radius: 100%;
box-shadow: 0 4px 6px;

}