@import "reset.css";
body{
  background-color: #9EF7ED;
  font-family:-apple-system, BlinkMacsystemFont, "Segoe UI", Roboto, Ubunto, Cantarell, "Open Sans", "Helvetica Neue", Sans=serif;
  display: Flex;
  Flex-direction: Column;
  padding-top: 50px;
  align-items: center;
}


.canvas{
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px;
}

.controls{
    margin-top: 50px;
}

.controls .controls__colors {
    display: flex;
}

.controls__colors .controls__color {
width:50px;
height:50px

}